.pure-g-r
    .pure-u-1-8#sidebar
        .pure-menu.pure-menu-open#menu
            %h1 CSS Toolkit
            %h2 Elements
            %ul
                %li
                %a{href: "#"} Base
                %li
                %a{href: "#"} Grids
                %li
                %a{href: "#"} Forms
                %li
                %a{href: "#"} Buttons
                %li
                %a{href: "#"} Tables
                %li
                %a{href: "#"} Menus

            %h2 Typography
            %ul
                %li
                %a{href: "#"} Headings
                %li
                %a{href: "#"} Paragraphs
    .pure-u-7-8
        %section
            %h2 Base
            %h3 Typography
            %h3 Headings
            %h3 Lists
            %h3 Blockquotes
            %h3 Abbreviations
            %h3 Addresses
            %h3 Inline Styles
        %section
            %h2 Grids
        %section
            %h2 Forms
        %section
            %h2 Buttons
        %section
            %h2 Tables
        %section
            %h2 Menus


