%h2 Basic Elements
%h3 Buttons

.pure-g
    .pure-u-1-4.l-box
        %a.pure-button Default Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-primary Primary Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-warning Warning Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-botton-error Danger Button
.pure-g
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-success Success Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-info Info Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-action Action Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-disabled Disabled Button
Hello!
