%h2 Basic Elements
%h3 Buttons

.pure-g
    .pure-u-1-4.l-box
        %a.pure-button Default Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-primary Primary Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-warning Warning Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-botton-error Danger Button
.pure-g
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-success Success Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-info Info Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-action Action Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-disabled Disabled Button

%h3 Menu
.pure-menu.pure-menu-open.pure-menu-horizontal
    %ul
        %li
            %a{href:"#"} Home
        %li.pure-menu-selected
            %a{href:"#"} Flickr
        %li
            %a{href:"#"} Messenger
        %li
            %a{href:"#"} Sports
        %li
            %a{href:"#"} Finance

%h3 Input

%h4 Text Fields
%form.pure-form
    %fieldset
        .pure-g
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}

        .pure-g
            .pure-u-3-4.l-box
                %textarea

