.pure-g-r
    .pure-u-1-8.med-sidebar
        .pure-menu.pure-menu-open.med-menu
            %h2 Base
            %ul
                %li
                %a{href: "#"} Foundation
                %li
                %a{href: "#"} Typefaces
                %li
                %a{href: "#"} Brand Colors

            %h2 Grids
            %ul
                %li
                %a{href: "#"} PureCSS
                %li
                %a{href: "#"} Examples

            %h2 Elements
            %ul
                %li
                %a{href: "#"} Buttons
                %li
                %a{href: "#"} Forms
                %li
                %a{href: "#"} Tables
                %li
                %a{href: "#"} Menus
                %li
                %a{href: "#"} Widgets
            %h2 Typography
            %ul
                %li
                %a{href: "#"} Base
                %li
                %a{href: "#"} Headings
                %li
                %a{href: "#"} Paragraphs
                %li
                %a{href: "#"} Blockquotes
                %li
                %a{href: "#"} Ordered List
                %li
                %a{href: "#"} Unordered List
                %li
                %a{href: "#"} Definition List
                
            %h2 Assets
            %ul
                %li
                %a{href: "#"} Base
                %li
                %a{href: "#"} Images
                %li
                %a{href: "#"} Videos
                %li
                %a{href: "#"} Slideshows
                %li
                %a{href: "#"} Podcasts
                %li
                %a{href: "#"} Documents
                %li
                %a{href: "#"} Applications

            %h2 Icons
            %ul
                %li
                %a{href: "#"} Social Icons
                %li
                %a{href: "#"} Font Awesome
                %li

            %h2 Uncategorized

    .pure-u-1-8.med-secondsidebar 
        .pure-menu.pure-menu-open.med-secondmenu
            %h2 Buttons
            %ul
                %li
                %a{href: "#"} Standard
                %li
                %a{href: "#"} Sizes
                %li
                %a{href: "#"} Buttons (+ Icons)
                %li
                %a{href: "#"} Combos
                %li
                %a{href: "#"} Dropdowns

    .pure-u-3-4#main
        .med-header1
            %h2 Base
        .med-header2
            %h3 Foundation
        .med-header3
            %h4 Introduction
        %section
            %p The Meducation CSS Toolkit is based off of PureCSS. Initially it will exist as a 'skin' to Pure which matches the Meducation.net design aesthetic. It will enable developers to go from sketches to rapid prototypes faster, whilst maintaing the same look and feel throughout.

        .med-header3
            %h4 Typefaces
        %section
            %ul
                %li Museo Sans
                %li Proxima Nova
                %li Helvetica
                %li (sans-serif)

            %pre.med-code
                :escaped
                    font-family: 'museo-sans', 'Proxima Nova', Helvetica, sans-serif;
        .med-header3
            %h4 Brand Colors
        %section#brandcolors
            .pure-u-1-1.palette.darkblue 
                %b Dark Blue
                %br $darkblue, #252e39
            .pure-u-1-1.palette.blue
                %b Meducation Blue
                %br $blue, #6594ce
            .pure-u-1-1.palette.lightblue
                %b Light Blue
                %br $lightblue, #4ea1ff
            .pure-u-1-1.palette.lightestgray
                %b Lightest Gray
                %br $lightestgray, #eff0f4
            .pure-u-1-1.palette.lightergray
                %b Lighter Gray
                %br $lightergray, #dadbde
            .pure-u-1-1.palette.darkgray
                %b Dark Gray
                %br $darkgray, #292a2d
            .pure-u-1-1.palette.darkergray
                %b Darker Gray
                %br $darkergray, #1a1b1d
            .pure-u-1-1.palette.darkestgray
                %b Darkest Gray
                %br $darkestgray, #0d0d0e
            .pure-u-1-1.palette.premiumgreen
                %b Premium Green
                %br $premiumgreen, #92bc00


