%h2 Base
%h3 The Meducation CSS Toolkit

.pure-g
    %p The Meducation CSS Toolkit is an ever-growing collection of the styling preferences of elements for Meducation.net and related assets. We aim to use this toolkit in order to make it easier to rapidly prototype and put into production apps that look and feel the same across the board.

%h2 Basic Elements
%h3 Buttons

.pure-g
    .pure-u-1-4.l-box
        %a.pure-button Default Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-primary Primary Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-warning Warning Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-error Error Button
.pure-g
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-success Success Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-info Info Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-action Action Button
    .pure-u-1-4.l-box
        %a.pure-button.pure-button-disabled Disabled Button

%h3 Menu
.pure-menu.pure-menu-open.pure-menu-horizontal
    %ul
        %li
            %a{href:"#"} Home
        %li.pure-menu-selected
            %a{href:"#"} Flickr
        %li
            %a{href:"#"} Messenger
        %li
            %a{href:"#"} Sports
        %li
            %a{href:"#"} Finance

%h3 Input

%h4 Text Fields
%form.pure-form
    %fieldset
        .pure-g
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}
            .pure-u-1-4.l-box
                %input{type:'email'}

        .pure-g
            .pure-u-3-4.l-box
                %textarea

%h3 Progress Bars & Sliders
/* Insert code here */

%h3 Checkboxes
/* Insert code here */

%h3 Radio Buttons
/* Insert code here */

%h3 Widgets
/* Insert code here */

%h3 Tooltips
/* Insert code here */

%h3 Tags
/* Insert code here */

%h2 Typography
/* Insert code here */