/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require css_toolkit
 *= require_self
 *= require_tree .
 */

    // Blues
    $lighterblue: #92c2ff;
    $lightblue: #4f9dff;
    $blue: #3e7fcf; // Meducation Blue
    $darkblue: #3368aa;
    $darkerblue: #234b77;
    $verydarkblue: #1f2326;

    // Grays
    $lightergray: #f2f3f7;
    $lightgray: #c9cacc;
    $gray: #808183;
    $darkgray: #3d3f41;
    $darkergray: #1a1b1d;
    $verydarkgray: #171718;

    // Greens
    $lightergreen: #a9fc5b;
    $lightgreen: #87ed27;
    $green: #59a80f; // Prmeium Green
    $darkgreen: #3f760c;
    $darkergreen: #274807;
    $verydarkgreen: #182c05;

    // Orange
    $orange1: #f26522;
    $orange2: #e05e20;
    $orange3: #cf571e;

    // Status Colors
    $success: #66bc00;
    $error: #e84939;
    $action: #92bc00;
    $warning: #e3c01e;
    $disabled: #a8a8a8;

    // Typography
        // Base
        $normal: #181818;
        $light: #8a8a8a;
        $really-light: #b6b6b6;

// Control Variables
    $fixed-width: 800px;

    $font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;

    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }

    @mixin font-size($size: 1.8) {
      font-size: ($size * 10) + px;
      font-size: $size + rem;
      line-height: (1.618 * $size * 10) + px;
      line-height: (1.618 * $size) + rem;
    }



body {
  margin:0px auto;
}

    .palette {
        padding: 2em;
        color: #fff;

        // Blues
        .lighterblue {
            background-color: $lighterblue;
            color: #fff;
        }
        .lightblue {
            background-color: $lightblue;
            color: #fff;
        }
        .blue {
            background-color: $blue;
            color: #fff;
        }

        .darkblue {
            background-color: $darkblue;
            color: #fff;
        }
        .darkerblue {
            background-color: $darkerblue;
            color: #fff;
        }

        .verydarkblue {
            background-color: $verydarkblue;
            color: #fff;
        }

        // Grays
        .lightergray {background-color: $lightergray;}
        .lightgray {background-color: $lightgray;}
        .gray {background-color: $gray;}
        .darkgray {
            background-color: $darkgray;
            color: #fff;
        }

        .darkergray {
            background-color: $darkergray;
            color: #fff;
        }

        .verydarkgray {
            background-color: $verydarkgray;
            color: #fff;
        }

        // Greens
        .lightergreen {
            background-color: $lightergreen;
        }

        .lightgreen {
            background-color: $lightgreen;
        }

        .green {
            background-color: $green;
            color: #fff;
        }

        .darkgreen {
            background-color: $darkgreen;
            color: #fff;
        }

        .darkergreen {
            background-color: $darkergreen;
            color: #fff;
        }

        .verydarkgreen {
            background-color: $verydarkgreen;
            color: #fff;
        }
    }

    #brandcolors {
        margin: 0;
        padding: 0;
    }

        .pure-form {
            @include border-radius(5px);
            font-family: 'Proxima Nova', Helvetica, sans-serif;
            padding: 1em;
            margin: 2em 0;
            background-color: $lightergray;
            border: 1px solid $lightgray;
        }

        input {
            background-color: #fafafa;
            margin-right: 0.5em;
            &:focus {
                background-color: #fff;
            }
        }

        .pure-form-stacked
        input[type="text"],
        input[type="input"],
        input[type="email"],
        input[type="url"] {
            margin: 0;
        }

        input[type="checkbox"] {
            margin-right: 0.5em;
        }

    .med-sidebar {
        background-color: $darkblue;
        color: #ffffff;
        overflow: hidden;

        .med-menu {
        background-color: $darkblue;
        border: 0px;
        padding: 5% 2% 5% 10%;

            h2 {
                font-weight: 100;
                @include font-size(1.6);
                padding-top: 5%;
                color: #fff;
            }

            a {color: $lighterblue;}
            a:hover {
                background-color: $darkerblue;
                color: $lighterblue;
            }
            a:active {
                background-color: $darkerblue;
                color: #fff;
            }

        }

    }

    .med-secondsidebar {
        background-color: $lighterblue;
        color: #ffffff;
        overflow: hidden;

        .med-secondmenu {
        background-color: $lighterblue;
        border: 0px;
        padding: 10% 2% 5% 10%;
            h1 { font-weight: 100; }
            h2 {
                font-weight: 100;
                @include font-size(1.6);
                color: #fff;
            }
            a {color: #dae8f6;}
            a:hover {
                background-color: #4894ea;
                color: #fff;
            }
        }
    }


        // Text Editor

        .text-editor {
            @include border-radius(5px);
            width: 698px;
            height: 188px;
            border: 1px solid #d3d5db;
            padding: 1em;

            .toolbar {
                height: 46px;
                border-top: 1px solid #d3d5db;

                ul, li {
                    display: inline;
                    list-style-type: none;
                }
            }
        }

        // Voting Buttons (Large)

        .med-big-vote {
            @include border-radius(5px);
            background-color: $blue;
            color: #fff;
            @include font-size(5);
            width: 220px;

            .med-vote-up {
                padding: 0.5em;
                float: left;
            }

            .med-vote-up {
                padding: 0.5em;
            }
        }

    // Font Colors

    .darkblue {
        color: $darkblue;
    }

    .blue {
        color: $blue;
    }

    .lighterblue {
        color: $lighterblue;
    }

    // 4.2 Code Box
    // ---------------------------------

    .med-code {
        @include border-radius(5px);
        font-family: Consolas, 'Liberation Mono', Courier, monospace;
        background-color: #fafafa;
        border: 1px solid #e1e1e1;
        color: #555;
        padding: 0.8em 1.5em;
        margin: 2em 0;
        max-width: 800px;
        @include font-size(0.8);
    }


.med-header1 {
    padding: 0.5em 2em;
    background-color: #eff0f4;
    border-bottom: 1px solid #e0e2e8;
    text-align: center;

    h2 {
        @include font-size(4.8);
    }
}

.med-header2 {
    padding: 0.5em 2em;
    background-color: $lightgray;
    color: $darkgray;

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 0;
    }
}

.med-header3 {
    padding: 0.5em 2em;
    background-color: $lightergray;
    color: $darkgray;

    h4 {
        margin: 0;
    }

    }


